@font-face {
    font-family: "black";
    src: url(Static/Roboto-Black.ttf);
}

@font-face {
    font-family: "bold";
    src: url(Static/Roboto-Bold.ttf);
}

@font-face {
    font-family: "italic";
    src: url(Static/Roboto-Italic.ttf);
}

@font-face {
    font-family: "light";
    src: url(Static/Roboto-Light.ttf);
}

*{
    box-sizing: border-box;
}

#body-main{
    background-color: #ff8500;
    margin-left: 15%;
    margin-right: 15%;
    background-position: center;
}

body{
    background-color: #ffffff;
    margin: 0;
}

h1{
    font-family: "black";
    color: #ffffff;
    font-size: 500%;
    letter-spacing: 2px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    padding-top: 3%;

}

h2{
    font-family: "bold";
    color: #000000;
    font-size: 220%;
    letter-spacing: 1px;
    margin-left: 10%;
    margin-right: 10%;
}

p{
    font-family: "light";
    color: #ffffff;
    font-size: 110%;
    letter-spacing: 1px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 225%;
}

.italic{
    font-family: "italic";
    color: #1e1e1e;
    font-size: 110%;
    letter-spacing: 1px;
    margin-left: 40%;
    margin-right: 10%;
    border-top: 1px #1e1e1e solid;
    border-bottom: 1px #1e1e1e solid;
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 225%;
}

ul{
    font-family: "light";
    color: #000000;
    font-size: 110%;
    letter-spacing: 1px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    padding-bottom: 3%;
    line-height: 225%;
}