* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #efe784;
  width: 1193px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}
header {
  display: flex;
  flex-direction: column;
  height: 60vh;
  text-align: center;
  color: #efe784;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  margin: 10px;
}
p {
  font-size: 14px;
  line-height: 25px;
}
a .grande {
  display: block;
}
a .petite {
  display: none;
}
.container1 {
  display: flex;
  flex-direction: column;
  background-image: url(/img/header1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: 1;
  justify-content: space-around;
  padding: 50px;
}
.container1 div {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 20px;
  font-weight: lighter;
}
.container1 div:nth-of-type(1) {
  align-self: center;
}
.container1 div:nth-of-type(1) .grande {
  display: block;
}
.container1 div:nth-of-type(1) .petite {
  display: none;
}
.container2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  background-color: #3e3838;
  padding: 50px 150px;
  align-content: center;
}
.container2 h1 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
  border-top: #efe784 1px solid;
  border-bottom: #efe784 1px solid;
}
.container3 {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-around;
  padding: 50px 150px;
  background-color: #ffffff;
}
.container3 h2 {
  color: #6cbcb3;
}
.container3 p:nth-of-type(2) {
  color: #6cbcb3;
}
.container4 {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-around;
  padding: 50px 150px;
  background-color: #6cbcb3;
}
.container4 p:nth-of-type(2) {
  color: #ffffff;
}
.container5 {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-around;
  padding: 50px 150px;
  background-color: #3e3838;
  color: #ffffff;
}
.container6 {
  display: flex;
  flex-direction: column;
  height: 30vh;
  padding: 50px 100px;
  background-color: #000000;
}
.container6 div .grande {
  display: block;
}
.container6 div .petite {
  display: none;
}
.container6 p {
  color: #ffffff;
}
.container6 span:nth-of-type(1) {
  text-transform: uppercase;
}
.container6 span:nth-of-type(2) {
  color: #efe784;
}
/*--------------------- Responsive -------------------*/
@media screen and (min-width: 361px) and (max-width: 748px) {
  body {
    width: 748px;
    padding: 1px;
  }
  header {
    height: 100vh;
  }
  a {
    align-self: center;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
  .container1 {
    background-image: url(/img/header2.jpg);
  }
  .container2 {
    height: 100vh;
    padding: 25px 50px;
  }
  .container3 {
    height: 100vh;
    padding: 25px 50px;
  }
  .container4 {
    height: 100vh;
    padding: 25px 50px;
  }
  .container5 {
    height: 100vh;
    padding: 25px 50px;
  }
}
@media screen and (max-width: 360px) {
  body {
    width: 360px;
    padding: 1px;
  }
  header {
    height: 100vh;
  }
  a .grande {
    display: none;
  }
  a .petite {
    display: block;
  }
  .container1 {
    background-image: url(/img/HeaderMobile.jpg);
  }
  .container1 div:nth-of-type(1) {
    align-self: center;
  }
  .container1 div:nth-of-type(1) .grande {
    display: none;
  }
  .container1 div:nth-of-type(1) .petite {
    display: block;
  }
  .container1 div:nth-of-type(2) {
    font-size: 15px;
  }
  .container2 {
    height: 100vh;
    padding: 61px 30px;
  }
  .container3 {
    height: 100vh;
    padding: 61px 30px;
  }
  .container3 a {
    align-self: center;
  }
  .container4 {
    height: 100vh;
    padding: 61px 30px;
  }
  .container4 a {
    align-self: center;
  }
  .container5 {
    height: 100vh;
    padding: 61px 30px;
  }
  .container5 a {
    align-self: center;
  }
  .container6 {
    height: 25vh;
    padding: 30px;
  }
  .container6 div .grande {
    display: none;
  }
  .container6 div .petite {
    display: block;
  }
}
